<div class="social share">
    <button class="label">Share</button>
    <ul class="social-menu">
        <li class="menu-item"><a href="https://www.facebook.com/sharer.php?u=permalink" target="_blank"><span class="visually-hide-text">Facebook</span><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
        <li class="menu-item"><a href="https://twitter.com/share?url=permalink&amp;text=Text" target="_blank"><span class="visually-hide-text">Twitter</span><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        <li class="menu-item"><a href="mailto:?subject=&body=:%20urlwillgohere" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><span class="visually-hide-text">Email</span><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
</div>