// General facet styles
.fieldset {
	&.filters {
		max-width: 1120px;
		margin: 0 auto 45px;
	}
	.facet-label {
		margin-bottom: 4px;
	}
	// Keeping all drop downs in the right place
	.facet-wrap,
	.fs-wrap {
		position: relative;
	}
	.fs-wrap,
	.fs-label-wrap {
		width: 100%;
	}
	.facet-wrap {
		min-width: 100%;
		margin: 0;
		@media (min-width: 400px) {
			min-width: 150px;
			margin: 0 5px;
		}
		@media ($menu) {
			min-width: 220px;
			margin: 0 30px;
		}
	}
	// Styling the facet labels
	.facet-label {
		margin-bottom: 5px;
		font-style: italic;
		text-transform: none;
		font-size: 16px;
		font-family: $serif;
		font-weight: normal;
	}
}

// Facet Start/End Date
.fieldset .facetwp-type-date_range {
	display: flex;
	justify-content: space-between;
	.flatpickr-alt {
		padding: 4px 6px 5px 0;
		border: none;
		border-bottom: 2px solid;
		font-size: 15px;
		@media (min-width: 400px) {
			max-width: 100px;
		}

		&::placeholder {
			color: $black;
		}
		&:last-child {
			margin-left: 15px;
		}
	}
}

// Facet search bar
.fieldset.search-field {
	.facet-label {
		@extend .visually-hidden;
	}
}
.facetwp-facet.facetwp-type-search {
	.facetwp-search-wrap {
		display: flex;
	}
	.facetwp-input-wrap,
	.facetwp-search {
		width: 100%;
	}
	.facetwp-input-wrap {
		text-align: center;
		@media ($tablet) {
			@include flex($align: flex-start);
		}
		// Reset button
		button:last-child {
			height: auto;
			padding: 12px 20px;
			border: none;
			background: transparent;
			color: $green;
			font-weight: 600;
			text-transform: uppercase;
			@media ($tablet) {
				position: absolute;
				bottom: -30px;
				right: 124px;
				padding: 5px 0;
				z-index: 3;
			}
		}
	}
	input.facetwp-search {
		flex: 1 0 0;
		margin-bottom: 15px;
		padding: 5px 30px 5px 15px;
		border-radius: 0;
		border: 3px solid rgba(33, 33, 33, 0.25);
	}
	.facetwp-icon,
	.facetwp-btn {
		display: none;
	}
	input,
	button {
		height: 50px;
	}
	.facetwp-search-submit {
		@include btn-base();
		height: auto;
		margin: 0;
		padding: 14px 20px;
		border: 3px solid $green;
		background-color: $green;
		color: $white;
		@media ($tablet) {
			margin-left: 20px;
		}
		&:hover,
		&:focus {
			background-color: $white;
			color: $green;
		}
	}
}

// Styling the facet dropdowns
.fieldset {
	.fs-label-wrap {
		border: none;
		border-bottom: 2px solid $black;
		background-color: $white;
		.fs-label {
			padding-left: 0;
			color: $black;
		}
		.fs-arrow {
			border-top: 5px solid $black;
		}
	}
	.fs-dropdown {
		width: 100%;
		color: $black;
	}
}

// Map - Reverse colors for the Facet dropdowns
.block.interactive-map {
	.fs-label-wrap {
		border-bottom: 2px solid $white;
		background-color: $transparent;
		@media ($map-breakpoint) {
			background-color: $black;
		}
		.fs-label {
			color: $white;
		}
		.fs-arrow {
			border-top: 5px solid $white;
		}
	}
}

// Styling the facet ranges
.fieldset {
	.facetwp-type-slider {
		padding-top: 20px; // Aligning the ranges with other facets
		.facetwp-slider-label + div {
			display: inline-block;
			margin-left: 15px;
		}
	}
	.noUi-horizontal .noUi-handle {
		width: 15px;
		height: 15px;
		top: -7.5px;
		border-radius: 50%;
	}
	.noUi-horizontal {
		height: 2px;
	}
	.noUi-target {
		border-color: $black;
		&:before,
		&:after {
			content: "";
			width: 2px;
			height: 16px;
			position: absolute;
			top: 0;
			background: $black;
			transform: translateY(-50%);
		}
		&:before {
			left: -1px;
		}
		&::after {
			right: -1px;
		}
	}
	.noUi-connect {
		background: $black;
	}
	.noUi-handle {
		border: none;
		background: $green;
	}
	.facetwp-facet {
		margin-bottom: 30px;
	}
	// Range reset btn
	.facetwp-slider-reset {
		display: block;
		margin-top: 10px;
		padding: 0;
		background: none;
		border: none;
		box-shadow: none;
		font-style: italic;
		font-family: $serif;
		font-size: 15px;
		color: $green;
	}
}
// Map facet ranges
.block.interactive-map {
	.noUi-target {
		border-color: #dddddd;
		&:before,
		&:after {
			background: $white;
		}
	}
	.noUi-connect {
		background: #dddddd;
	}
	.noUi-handle {
		background: $white;
	}
}

// Search facet ranges
.block.search-results {
	.noUi-handle {
		background-color: $green;
	}
}

// Radio button facets
.fieldset .facetwp-type-radio {
	display: flex;
	.facetwp-radio {
		position: relative;
		padding-left: 25px;
		background: none;
		&:before {
			content: "";
			width: 15px;
			height: 15px;
			border: 1px solid;
			border-radius: 50%;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		& + .facetwp-radio {
			margin-left: 20px;
		}
		&.checked,
		&:hover,
		&:focus {
			background: none;
			color: $green;
			&:before {
				background-color: $green;
			}
		}
	}
}
