<section class="block listing activities grid">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Activities, Small</h2>
        <div class="row">
            <ul class="items">
                <li class="item activity small" v-for="n in 8">
                    @include('../items/activity-small.html')
                </li>
            </ul>
        </div>
	</div>
</section>

<section class="block listing activities grid-half">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Activities, Large</h2>
        <div class="row">
            <ul class="items">
                <li class="item activity large" v-for="n in 8">
                    @include('../items/activity-large.html')
                </li>
            </ul>
        </div>
	</div>
</section>

<section class="block listing resources">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Resources</h2>
        <div class="row">
            <ul class="items">
                <li class="item activity large" v-for="n in 8">
                    @include('../items/activity-large.html')
                </li>
            </ul>
        </div>
	</div>
</section>