<section class="block basic-content one-col">
    <div class="icon image">
		<img src="https://source.unsplash.com/jbtfM0XBeRc/100x100" alt="Placeholder Image"/>
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
                    <h1 class="label">Paddling</h1>
					<h2 class="title h2">Basic Content</h2>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">This is a link!</a> Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block basic-content one-col">
	<!-- The get-involved id is just for my static dev needs -->
    <div id="get-involved" class="icon desktop-shortcode"></div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h1 class="title h1">Branch Out.</h1>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                    <div class="wp-block-buttons">
                        <div class="wp-block-button">
                            <a href="#" class="wp-block-button__link">Get Involved at The Parklands</a>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>

<section class="block basic-content bg one-col">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h1 class="title h2">Basic Content</h1>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block basic-content bg two-col">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h1 class="title h2">Basic Content</h1>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
            <div class="col">
				<div class="content">
					<h1 class="title h2">Basic Content</h1>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
		</div>
	</div>
</section>

<section class="block basic-content bg three-col">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h1 class="title h2">Basic Content</h2>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
            <div class="col">
				<div class="content">
					<h1 class="title h2">Basic Content</h2>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
            <div class="col">
				<div class="content">
					<h1 class="title h2">Basic Content</h2>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
		</div>
	</div>
</section>