<section class="block cards style-1">
    <div class="wrapper">
        <div class="row">
            <div class="col">
				<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);background-size:cover;background-position:50% 50%">
                    <img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image" class="visually-hidden" />
                    <div class="card-title">
                        <h2 class="h3">Title Here</h2>
                    </div>
				</div>
				<div class="content">
					<h1 class="title h3">Cards Style 1</h1>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
            <div class="col">
				<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);background-size:cover;background-position:50% 50%">
                    <img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image" class="visually-hidden" />
                    <div class="card-title">
                        <h2 class="h3">Title Here</h2>
                    </div>
				</div>
                <div class="content">
					<h1 class="title h3">Cards Style 1</h1>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
        </div>
    </div>
</section>