<section class="block cards style-3">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="content">
                    <h1 class="title h4">Card Style 5</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
            <div class="col">
				<div class="content">
                    <h1 class="title h4">Card Style 5</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
        </div>
    </div>
</section>