<section id="" class="block cards style-2 no-bg align-left two-col" style="opacity: 1;">
        <div class="wrapper">
        <div class="row">
                                                <div class="col" style="opacity: 1;">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/education-programs-green-1.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Learning</h1>
                                                    
                                                            <p class="blurb">Where nurture meets nature.</p>
                            
                            <p>The purpose of our Outdoor Classroom is to teach STEAM (science, technology, engineering, arts, and math) and natural history through hands-on discoveries outdoors that stimulate curiosity for children, adults, and families — all resulting in the enhancement of scientific literacy in our community. We envision a future in which all people view themselves as lifelong learners and share a connection to the natural world.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/learning/" class="wp-block-button__link" target="">Learn More About Learning</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    <div class="col" style="opacity: 1;">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/paddling-green-1.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Paddling</h1>
                                                    
                                                            <p class="blurb">Take me to the river.</p>
                            
                            <p>Winding through upland meadows and farm fields and bottomland forests, Floyds Fork empties into the Salt River, which flows another 25 miles until it drains into the Ohio River. Located along Floyds Fork between Shelbyville Road and Bardstown Road, The Parklands offers some of the best paddling access in the area.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/paddling/" class="wp-block-button__link" target="">Learn More About Paddling</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    <div class="col" style="opacity: 1;">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/fishing-green-1.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Fishing</h1>
                                                    
                                                            <p class="blurb">The original live-streaming.</p>
                            
                            <p>Venture down into the thickets of undergrowth along the creek. Listen to the lisp and lapse of the current. Wade into the stream, and cast your line out into the channel. Throughout The Parklands, you can find ponds, lakes, fishing piers, and the unifying artery of Floyds Fork stocked with game fish and available for picnics and wildlife watching year-round.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/fishing/" class="wp-block-button__link" target="">Learn More About Fishing</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    <div class="col" style="opacity: 1;">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/bark-park-green-1.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Tail Wagging</h1>
                                                    
                                                            <p class="blurb">Experience life unleashed.</p>
                            
                            <p>An off-leash dog park adjacent to the Egg Lawn, the Barklands is open to members of the Louisville Dog Run Association and divided into three one-acre zones — one zone for large dogs, one zone for smaller dogs, and one zone designated as “resting” (or closed for use). The runs rotate to maintain the turf, and the signage identifies which areas are open.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/tail-wagging/" class="wp-block-button__link" target="">Learn More About Tail Wagging</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    <div class="col">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/biking-copy-green.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Biking</h1>
                                                    
                                                            <p class="blurb">Move in all the best circles.</p>
                            
                            <p>Some bikers prefer a paved road. Others prefer a dirt trail. Either way, The Parklands has you covered. Outside of the bike park, hikers and walkers share all of our bike-accessible trails, so always pass on the left and alert those who you’re moving around. Choose your route based on the trail usage, the distance, and the difficulty level, and then get rolling.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/biking/" class="wp-block-button__link" target="">Learn More About Biking</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    <div class="col">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/hiking-green.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Walking</h1>
                                                    
                                                            <p class="blurb">Wonder while you wander.</p>
                            
                            <p>Running, walking, and hiking are some of the most accessible activities you can do to improve your health and roam throughout The Parklands. Whether you’re into high-intensity training or a sightseeing stroll, prefer packed dirt or stone slabs underfoot, have the energy to take on one or 10 miles — we can show you the way.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/walking/" class="wp-block-button__link" target="">Learn More About Walking</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    <div class="col">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/picnicking-green.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Picnicking</h1>
                                                    
                                                            <p class="blurb">Make a meal of it.</p>
                            
                            <p>Feast in the open air. Watch butterflies fluttering from coneflower to coneflower. Each of our parks has its own designated picnic areas located at limestone gorges, lakeside overlooks, or sunlit hillsides. No matter what type of picnic you’re planning, we’ve got the spot for you.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/picnicking/" class="wp-block-button__link" target="">Learn More About Picnicking</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    <div class="col">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/Gardening-Icon-green.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Gardening</h1>
                                                    
                                                            <p class="blurb">The plot thickens.</p>
                            
                            <p>Sunflowers standing 10 feet tall at their midsummer peak. The scent of tomato vines rubbed between your fingers. Raised beds overflowing with lettuce and eggplant cages and cucumber trellises. Community gardens alleviate stress and knit together neighborhoods — and they cut down on our carbon footprints.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/gardening/" class="wp-block-button__link" target="">Learn More About Gardening</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    <div class="col">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/playgrounds-and-spraygrounds-green.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Playing</h1>
                                                    
                                                            <p class="blurb">The ultimate playdate.</p>
                            
                            <p>We opened the Marshall Playground and Sprayground in Beckley Creek Park in 2011 — our first amenity available to the public. Today, we offer the Cliffside Playground and Sprayground in Broad Run Park, as well as the Pope Lick Park playground near John Floyds Fields. Come out and make a splash.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/playing/" class="wp-block-button__link" target="">Learn More About Playing</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    <div class="col">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/compete-icon-green-1.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Competing</h1>
                                                    
                                                            <p class="blurb">Be a good sport.</p>
                            
                            <p>Get competitive on one of our sports fields — the Egg Lawn, the Greensward, the Cliffside Center, the John Floyds Fields, or the fields in the Humana Grand Allee. These spaces are fun for all ages and perfect for tackling in a friendly football game, dribbling a field hockey ball, throwing around a Frisbee, facing off in lacrosse, or kicking a soccer ball. So grab some friends and come out and play.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/competing/" class="wp-block-button__link" target="">Learn More About Competing</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    <div class="col">

                        <!-- Style 1 Image -->
                        
                        <!-- Styles 2 Optional Icon - Image or Animation -->
                                                                                                                                                        <div class="icon">
                                        <img src="https://staging.theparklands.org/app/uploads/2020/11/Sightseeing-Icon-green-1.svg" alt="">
                                    </div>
                                						                                                            
                        <div class="content">
                                                            <h1 class="title h4">Sightseeing</h1>
                                                    
                                                            <p class="blurb">Start here. Or here. Or here.</p>
                            
                            <p>For millennia, animals and humans have shaped the landscapes that make up The Parklands. We’ve identified dozens of places to sightsee throughout the parks and highlighted our favorite ones here. Next time you visit, stop and observe all the nuances within the flora, fauna, history, and culture of our area.</p>
                                <div class="wp-block-buttons">
                                                <div class="wp-block-button">
                    <a href="https://staging.theparklands.org/find-an-activity/sightseeing/" class="wp-block-button__link" target="">Learn More About Sightseeing</a>
                </div>
                        </div>
                        </div>
                    </div>
                                    </div>
    </div>
</section>