<h3 class="align-center" style="margin-bottom: 45px;">Chart</h3>

<section class="block chart">
    <div class="wrapper">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <h2 class="title">Parklands</br>Protector</h2>
                            <span class="subtitle">Under $250</span>
                        </th>
                        <th>
                            <h2 class="title">Parklands</br>Partner</h2>
                            <span class="subtitle">$250-$999</span>
                        </th>
                        <th>
                            <h2 class="title">Parklands</br>Preserver</h2>
                            <span class="subtitle">$1,000-$4,999</span>
                        </th>
                        <th>
                            <h2 class="title">Parklands</br>Provider</h2>
                            <span class="subtitle">$5,000-$9,999</span>
                        </th>
                        <th>
                            <h2 class="title">Parklands</br>Steward</h2>
                            <span class="subtitle">$10,000-$24,999</span>
                        </th>
                        <th>
                            <h2 class="title">Parklands</br>Champion</h2>
                            <span class="subtitle">$25,000+</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- The non-breaking spaces used below, '&nbsp;', will be typed in by the user to control breaking of the type  -->
                        <th>Electronic&nbsp;& Mailed&nbsp;Updates</th>
                        <td><span class="visually-hide-text">Electronic & Mailed Updates</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Electronic & Mailed Updates</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Electronic & Mailed Updates</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Electronic & Mailed Updates</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Electronic & Mailed Updates</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Electronic & Mailed Updates</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                    </tr>
                    <tr>
                        <th>Member&nbsp;Sticker &&nbsp;Postcard</th>
                        <td><span class="visually-hide-text">Member Sticker & Postcard</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Member Sticker & Postcard</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Member Sticker & Postcard</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Member Sticker & Postcard</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Member Sticker & Postcard</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Member Sticker & Postcard</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                    </tr>
                    <tr>
                        <th>Special Parkland&nbsp;Events*</th>
                        <td><span class="visually-hide-text">Special Parkland Events*</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Special Parkland Events*</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Special Parkland Events*</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Special Parkland Events*</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Special Parkland Events*</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Special Parkland Events*</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                    </tr>
                    <tr>
                        <th>Trail&nbsp;Guide</th>
                        <td></td>
                        <td><span class="visually-hide-text">Trail Guide</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Trail Guide</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Trail Guide</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Trail Guide</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Trail Guide</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                    </tr>
                    <tr>
                        <th>Annual&nbsp;Report</th>
                        <td></td>
                        <td><span class="visually-hide-text">Annual Report</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Annual Report</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Annual Report</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Annual Report</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Annual Report</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                    </tr>
                    <tr>
                        <th>Annual&nbsp;Print</th>
                        <td></td>
                        <td></td>
                        <td><span class="visually-hide-text">Annual Print</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Annual Print</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Annual Print</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Annual Print</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                    </tr>
                    <tr>
                        <th>Donor Recognition&nbsp;Events</th>
                        <td></td>
                        <td></td>
                        <td><span class="visually-hide-text">Donor Recognition Events</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Donor Recognition Events</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Donor Recognition Events</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Donor Recognition Events</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                    </tr>
                    <tr>
                        <th>Table(s) at Parklands&nbsp;Fundraiser**</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span class="visually-hide-text">Table(s) at Parklands Fundraiser</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                        <td><span class="visually-hide-text">Table(s) at Parklands Fundraiser</span><img class="img" src="/assets/img/leaf.png" alt="Leaf"></td>
                    </tr>
                </tbody>
            </table>
            <div class="footnotes">
                <!-- This should be a WYSIWYG field. -->
                <p>Vestibulum id ligula porta felis euismod semper.</p>
                <p>* Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue.</p>
                <p>** Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis.</p>
            </div>
        </div>
    </div>
</section>

<!-- <?php
$table_orientation = get_sub_field('table_orientation');

$i = '0';
$x = '0';

while( have_rows('dataset') ): the_row();
$x++;
endwhile;
?> -->

<!-- <div class="layout table">
<div class="wrapper">
<div class="content">
<div class="Rtable Rtable--<?php echo $x; ?>cols Rtable--collapse"> -->

<!-- <?php if( have_rows('dataset') ) : while( have_rows('dataset') ): the_row(); ?> -->

<!-- <div class="Rtable-cell"><h5 class="heading"><?php the_sub_field('heading'); ?></h5></div> -->
<!-- <?php if( have_rows('data') ) : while( have_rows('data') ): the_row(); ?> -->
<!-- <?php if ($table_orientation == 'columns') {
$i++;
$order = ' style="order: ' . $i . ';"';
} ?> -->
<!-- <div class="Rtable-cell"<?php echo $order; ?>><?php the_sub_field('item'); ?></div> -->

<!-- <?php endwhile; $i = '0'; endif; ?> -->

<!-- <?php endwhile; endif; ?> -->

<!-- </div>
</div>
</div>
</div> -->
