<!-- This will use basic content as a starting point -->
<section class="block basic-content donate bg">
    <div class="bg-image" style="background-image:url(assets/img/Donate-Green-Section.png);">
        <img src="assets/img/Donate-Green-Section.png" alt="Placeholder Image" class="visually-hidden" />
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="graph">
                    <div class="left">
                        <span class="text">To Date</span>
                        <span class="number">$</span><span id="goal-number" class="number" data-count="271868"
                            data-speed="3">271,868</span>
                    </div>
                    <div class="center">
                        <div class="donations">
                            <!-- Print out the percentage in the css variable and the number span -->
                            <div class="amount-bubble" style="--amount: 9%;"><span id="bubble-number" class="number"
                                    data-count="9" data-speed="3">9</span><span class="percent">%</span>
                            </div>
                            <div class="container">
                                <div class="goal">
                                    <span class="marker"></span>
                                    <span class="marker"></span>
                                    <span class="marker"></span>
                                    <span class="marker"></span>
                                </div>
                                <!-- Calculate and print out the percetage in this css variable -->
                                <!-- The percentage needs to be -100 + the percentage of donations
                                    So, 9% is -100 + 9, which equals -91% -->
                                <div class="amount" style="--percentage: -91%;"></div>
                            </div>


                        </div>
                    </div>
                    <div class="right">
                        <span class="text">2020 Goal</span>
                        <span class="number">$3,000,000</span>
                    </div>
                </div>
                <div class="content">
                    <h1 class="title h2">Let's Keep a Good Thing <span class="white-txt">Growing.</span></h1>
                    <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non
                        metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna
                        mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus
                        auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere
                        erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
                <div class="wp-block-buttons">
                    <div class="wp-block-button">
                        <a href="#" class="wp-block-button__link">Donate to The Parklands</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>