<section id="hero-style-1-right" class="block hero style-2 content-right" data-menutitle="Hero Style 2 - Right">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);">
					<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image"
						class="visually-hidden" />
				</div>
			</div>
			<div class="col">
				<div class="content">
					<h1 class="label icon icon-walking">Label</h1>
					<h2 class="title">Hero Style 2</h2>
					<p class="copy">Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean
						lacinia bibendum nulla sed consectetur.</p>
					@include('../component/buttons.html')
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block hero style-2 content-left">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);">
					<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image"
						class="visually-hidden" />
				</div>
			</div>
			<div class="col">
				<div class="content">
					<h1 class="label">Label</h1>
					<h2 class="title">
						<span class="line h4 line-break black">Take me to the river </span>
						<span class="line h2 no-line-break green">Drop me in the</span>
						<span class="line h2 no-line-break black">water</span>
					</h2>
					<p class="copy">Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean
						lacinia bibendum nulla sed consectetur.</p>
					@include('../component/buttons.html')
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block hero style-2 content-right">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="video">
					<div class="embed-container">
						<div class="poster"
							style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);">
							<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image"
								class="visually-hidden" />
						</div>
						<iframe src="https://www.youtube.com/embed//gdJjc6l6iII" frameborder="0"
							allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="content">
					<h1 class="label">Label</h1>
					<h2 class="title">Hero Style 2</h2>
					<p class="copy">Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean
						lacinia bibendum nulla sed consectetur.</p>
					@include('../component/buttons.html')
				</div>
			</div>
		</div>
	</div>
</section>
