<section class="block hero style-1 content-center">
	<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);">
		<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image" class="visually-hidden" />
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h1 class="label">Label</h1>
					<h2 class="title"><span class="h2">Hero Style 1</span></h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block hero style-1 content-left">
	<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);">
		<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image" class="visually-hidden" />
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h1 class="label">Label</h1>
					<h2 class="title"><span class="h2">Hero Style 1</span></h2>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non
						metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
					@include('../component/buttons.html')
				</div>
			</div>
		</div>
		<a class="map-button" href="https://staging.theparklands.org/location-map/" target="_blank"><span>Interactive
				map</span></a>
	</div>
</section>

<section class="block hero style-1 content-right">
	<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);">
		<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image" class="visually-hidden" />
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<h1 class="label">Label</h1>
					<h2 class="title"><span class="h2">Hero Style 1</span></h2>
				</div>
			</div>
		</div>
	</div>
</section>