<section class="block hero style-3 content-right">
    <div class="wrapper">
        <div class="row">
            <div class="col">
				<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);background-size:cover;background-position:50% 50%">
                    <img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image" class="visually-hidden" />
                </div>
            </div>
            <div class="col">
                <div class="content">
                    <h1 class="label icon icon-sun">Label</h1>
                    <h2 class="title h3">Hero Style 3 - Right</h2>
                    <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block hero style-3 content-left">
    <div class="wrapper">
        <div class="row">
            <div class="col">
				<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);background-size:cover;background-position:50% 50%">
                    <img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image" class="visually-hidden" />
                </div>
            </div>
            <div class="col">
                <div class="content">
                    <h1 class="label icon icon-sun">Label</h1>
                    <h2 class="title h3">Hero Style 3 - Left</h2>
                    <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod.</p>
                    @include('../component/buttons.html')
                </div>
            </div>
        </div>
    </div>
</section>