<div class="home">
	<section class="block hero style-4 content-left">
		<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);">
			<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image"
				class="visually-hidden" />
		</div>
		<div class="wrapper">
			<div class="row">
				<div class="col">
					<div class="content">
						<div class="meta">
							<div class="icon icon-small">
								<img src="https://staging.theparklands.org/app/uploads/2020/11/sun.svg" alt="">
							</div>
							<div class="right">
								<span class="sunrise">Sunrise <time class="time">8:01 AM</time></span><span
									class="sunset">Sunset
									<time class="time">7:46 PM</time></span>
								<p>Other content can go below.</p>
							</div>
						</div>
						<h1 class="title">Hero Style 4</h1>
						<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla
							non
							metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
						@include('../component/buttons.html')
					</div>
				</div>
			</div>
		</div>
		<!-- Block inception -->
		<section class="block hero style-3 slider content-right">
			<div class="wrapper">
				<div class="items" data-id="1" data-slick='{
					"slidesToShow": 1, 
					"slidesToScroll": 1,
					"arrows": false,
					"dots": true, 
					"fade": true,
					"centerMode": false,
					"adaptiveHeight": true,
					"variableWidth": false,
					"autoplay": false,
					"autoplaySpeed": 6000,
					"responsive": [{"breakpoint": 768,"settings": {"arrows": false}}]
				}'>
					<div class="item">
						<div class="row">
							<div class="col">
								<div class="image"
									style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);background-size:cover;background-position:50% 50%">
									<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image"
										class="visually-hidden" />
								</div>
							</div>
							<div class="col">
								<div class="content">
									<h1 class="label icon icon-sun">Label</h1>
									<h1 class="title h3">Slide One</h1>
									<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
										ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.
										Etiam porta sem malesuada magna mollis euismod.</p>
									@include('../component/buttons.html')
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col">
								<div class="image"
									style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);background-size:cover;background-position:50% 50%">
									<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image"
										class="visually-hidden" />
								</div>
							</div>
							<div class="col">
								<div class="content">
									<h1 class="label icon icon-sun">Label</h1>
									<h1 class="title h3">Slide Two</h1>
									<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
										ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.
										Etiam porta sem malesuada magna mollis euismod.</p>
									@include('../component/buttons.html')
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col">
								<div class="image"
									style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);background-size:cover;background-position:50% 50%">
									<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image"
										class="visually-hidden" />
								</div>
							</div>
							<div class="col">
								<div class="content">
									<h1 class="label icon icon-sun">Label</h1>
									<h1 class="title h3">Slide Three</h1>
									<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
										ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.
										Etiam porta sem malesuada magna mollis euismod.</p>
									@include('../component/buttons.html')
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>

<section class="block hero style-4 content-left">
	<div class="image" style="background-image:url(https://source.unsplash.com/jbtfM0XBeRc/1200x500);">
		<img src="https://source.unsplash.com/jbtfM0XBeRc/1200x500" alt="Placeholder Image" class="visually-hidden" />
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content">
					<div class="meta">
						<div class="icon icon-small">
							<img src="https://staging.theparklands.org/app/uploads/2020/11/sun.svg" alt="">
						</div>
						<div class="right">
							<span class="sunrise">Sunrise <time class="time">8:01 AM</time></span><span
								class="sunset">Sunset
								<time class="time">7:46 PM</time></span>
							<p>Other content can go below.</p>
						</div>
					</div>
					<h2 class="title">Hero Style 4</h2>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non
						metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
					@include('../component/buttons.html')
				</div>
			</div>
		</div>
	</div>
</section>