<section class="block listing activities grid-small">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Activities, Small</h2>
        <div class="row">
            <ul class="items">
                <li class="item activity small" v-for="n in 16">
                    @include('../items/activity-small.html')
                </li>
            </ul>
        </div>
	</div>
</section>

<section class="block listing activities grid-half">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Activities, Large</h2>
        <div class="row">
            <ul class="items">
                <li class="item activity large" v-for="n in 5">
                    @include('../items/activity-large.html')
                </li>
            </ul>
        </div>
	</div>
</section>

<section class="block listing resources grid-thirds-center">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Resources</h2>
        <div class="row">
            <ul class="items">
                <li class="item resource" v-for="n in 5">
                    @include('../items/resource.html')
                </li>
            </ul>
        </div>
	</div>
</section>

<section class="block listing locations grid-thirds-left">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Locations</h2>
        <div class="row">
            <ul class="items">
                <li class="item location" v-for="n in 5">
                    @include('../items/location.html')
                </li>
            </ul>
        </div>
	</div>
</section>

<section class="block listing events grid-thirds-left">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Events</h2>
        <div class="row">
            <ul class="items">
                <li class="item event" v-for="n in 5">
                    @include('../items/event.html')
                </li>
            </ul>
        </div>
	</div>
</section>

<section class="block listing articles grid-thirds-left">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Articles</h2>
        <div class="row">
            <ul class="items">
                <li class="item article" v-for="n in 5">
                    @include('../items/article.html')
                </li>
            </ul>
        </div>
	</div>
</section>

<section class="block listing pages grid-thirds-left">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Pages</h2>
        <div class="row">
            <ul class="items">
                <li class="item page" v-for="n in 5">
                    @include('../items/page.html')
                </li>
            </ul>
        </div>
	</div>
</section>

<section class="block listing alerts grid-thirds-left">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - Alerts</h2>
        <div class="row">
            <ul class="items">
                <li class="item alert" v-for="n in 5">
                    @include('../items/alert.html')
                </li>
            </ul>
        </div>
	</div>
</section>

<section class="block listing people grid-fifths">
	<div class="wrapper">
        <h2 style="text-align: center;">Listing - People</h2>
        <div class="row">
            <ul class="items">
                <li class="item people" v-for="n in 11">
                    @include('../items/people.html')
                </li>
            </ul>
        </div>
	</div>
</section>