<section id="sliders" class="block slider gallery" data-menutitle="Sliders">
    <div class="wrapper">
        <div class="items" data-id="1" data-slick='{
            "slidesToShow": 3, 
            "slidesToScroll": 1,
            "arrows": true, 
            "fade": false,
            "centerMode": true,
            "adaptiveHeight": false,
            "variableWidth": true,
            "responsive": [{"breakpoint": 768,"settings": {"arrows": true}}]
        }'>
            <div class="item">
                <a href="https://via.placeholder.com/400x600.png"><img src="https://via.placeholder.com/400x600.png" alt="Image description" /></a>
            </div>
            <div class="item">
                <a href="https://via.placeholder.com/1000x600.png"><img src="https://via.placeholder.com/1000x600.png" alt="Image description" /></a>
            </div>
            <div class="item">
                <a href="https://via.placeholder.com/800x480.png"><img src="https://via.placeholder.com/800x480.png" alt="Image description" /></a>
            </div>
            <div class="item">
                <a href="https://via.placeholder.com/1000x580.png"><img src="https://via.placeholder.com/1000x580.png" alt="Image description" /></a>
            </div>
            <div class="item">
                <a href="https://via.placeholder.com/1000x580.png"><img src="https://via.placeholder.com/1000x580.png" alt="Image description" /></a>
            </div>
            <div class="item">
                <a href="https://via.placeholder.com/1000x580.png"><img src="https://via.placeholder.com/1000x580.png" alt="Image description" /></a>
            </div>
        </div>
    </div>
</section>

<section id="sliders" class="block slider gallery" data-menutitle="Sliders">
    <div class="wrapper">
        <div class="items" data-id="1" data-slick='{
            "slidesToShow": 3, 
            "slidesToScroll": 1,
            "arrows": true, 
            "fade": false,
            "centerMode": true,
            "adaptiveHeight": false,
            "variableWidth": true,
            "responsive": [{"breakpoint": 768,"settings": {"slidesToShow": 1, "adaptiveHeight": true}}]
        }'>
            <div class="item">
                <a href="https://via.placeholder.com/400x600.png"><img src="https://via.placeholder.com/400x600.png" alt="Image description" /></a>
            </div>
            <div class="item">
                <a href="https://via.placeholder.com/800x600.png"><img src="https://via.placeholder.com/800x600.png" alt="Image description" /></a>
            </div>
            <div class="item">
                <a href="https://via.placeholder.com/300x500.png"><img src="https://via.placeholder.com/300x500.png" alt="Image description" /></a>
            </div>
            <div class="item">
                <a href="https://via.placeholder.com/600x400.png"><img src="https://via.placeholder.com/600x400.png" alt="Image description" /></a>
            </div>
        </div>
    </div>
</section>